.menu-bg { background-image: url("/img/hero/homepage-menu-lg.jpg"); }
.drinks-bg { background-image: url("/img/hero/homepage-drinks-lg.jpg"); }
.specials-bg { background-image: url("/img/hero/homepage-specials-lg.jpg"); }
.events-bg { background-image: url("/img/hero/homepage-events-lg.jpg"); }
