.menu-bg {
  background-image: url("/../img/hero/homepage-menu.jpg");
}

.drinks-bg {
  background-image: url("/../img/hero/homepage-drinks.jpg");
}

.specials-bg {
  background-image: url("/../img/hero/homepage-specials.jpg");
}

.events-bg {
  background-image: url("/../img/hero/homepage-menu.jpg");
}

