
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", Arial, sans-serif
}

html {
	overflow-x: hidden
}

body {
	background: #E4E4E4;
	color: #8b8e94;
	line-height: 24px;
	font-size: 15px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	line-height: 1.5
}

h1 {
	font-size: 46px
}

h2,
h4 {
	font-size: 36px
}

h3 {
	font-size: 28px
}

h5,
h6 {
	font-size: 14px
}

ol,
p,
ul {
	margin-bottom: 30px
}

a {
	-webkit-transition: .3s all;
	transition: .3s all;
	color: #FFA33E
}

a:active,
a:focus,
a:hover {
	color: #ff9725;
	text-decoration: none
}
