---
layout: layout_events
---

<%= partial "partials/countdown" %>

<section class="canarystrap-section canarystrap-bg-color">
	<div class="container">
		<div class="row">
			<div class=" canarystrap-animate">
        <div id="countdown">
          <script>CountDownTimer('08/26/2017 6:00 PM', 'countdown')</script>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class="canarystrap-animate">
				 <div class="canarystrap-heading dark event-title">
           <h3 class="secondary-heading">Mayweather VS McGregor <span class="date">08/26/2017</span></h3>
				  </div>
          <div class="responsive_frame">
            <iframe src="https://www.youtube.com/embed/SO6cIlxMhco" frameborder="0" allowfullscreen></iframe>
		      </div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
		 <div class="col-md-4 canarystrap-animate">
			 <div class="canarystrap-heading dark">
					<h3 class="secondary-heading">Fight Night</h3>
				</div>
						<p>Come on down for our very first Fight Night. The long-awaited bout is finally here! After months of speculation, Floyd Mayweather, Jr. is coming out of retirement to square off against Conor McGregor. Two of the world's best trash-talkers, these men are also elite fighters. The historic match up is going down August 26th.</p>
				</div>
        <div class="col-md-8 canarystrap-animate">
                    <!--Tables for Daily Specials for Mobile view -->
          <table class="index table mobile">
            <tr>
              <th>AGE</th>
            </tr>
            <tr>
              <td>Mayweather<br>40</td>
            </tr>
            <tr>
              <td>McGregor<br>28</td>
            </tr>
          </table>
          
          <table class="index table mobile">
            <tr>
              <th>HEIGHT</th></tr>
            <tr>
              <td>Mayweather<br>5ft 8in</td>
            </tr>
            <tr>
              <td>McGregor<br>5ft 9in</td>
            </tr>
          </table>
          
          <table class="index table mobile">
            <tr>
              <th>WEIGHT</th>
            </tr>
            <tr>
              <td>Mayweather<br>147 lb</td>
            </tr>
            <tr>
            <td>McGregor<br>145 lb</td>
            </tr>

          <table class="index table mobile">
            <tr>
              <th>STRENGTHS</th>
            </tr>
            <tr>
              <td>Mayweather<br>Defence</td>
            </tr>
            <tr>
              <td>McGregor<br>Power</td>
            </tr>
          </table>

          <!--Tables for Daily Specials for tablet and desktop view -->
          <table class="index table tablet_web">
            <tr>
              <th>Mayweather</th>
              <th></th>
              <th>McGregor</th>
            </tr>

            <tr>
              <td>Mayweather<br>40</td>
              <th>AGE</th>
              <td>McGregor<br>28</td>
            </tr>

            <tr>
              <td>Mayweather<br>5ft 8in</td>
              <th>HEIGHT</th>
              <td>McGregor<br>5ft 9in</td>
            </tr>

            <tr>
              <td>Mayweather<br>147 lb</td>
              <th>WEIGHT</th>
            <td>McGregor<br>145 lb</td>
            </tr>

            <tr>
              <td>Mayweather<br>Defence</td>
              <th>STRENGTHS</th>
              <td>McGregor<br>Power</td>
            </tr>
          </table>
			</div>
    </div>
  </div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class=" canarystrap-animate">
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/floyd.jpg" alt="Mayweather VS McGregor" title="Mayweather VS McGregor" class="img-responsive"></p>
				</div>
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/faceoff.jpg" alt="Mayweather VS McGregor" title="Mayweather VS McGregor" class="img-responsive"></p>
				</div>
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/conor.jpg" alt="Mayweather VS McGregor" title="Mayweather VS McGregor" class="img-responsive"></p>
				</div>
			</div>
		</div>
	</div>
</section>
