---
layout: layout_events
---

<%= partial "partials/countdown" %>

<section class="canarystrap-section canarystrap-bg-color">
	<div class="container">
		<div class="row">
			<div class=" canarystrap-animate">
				<div id="countdown">
          <script>CountDownTimer('08/26/2017 6:00 PM', 'countdown')</script>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class=" canarystrap-animate">
				 <div class="canarystrap-heading dark">
					<h3 class="secondary-heading">Mayweather VS McGregor <span class="date">08/26/2017</span></h3>
				</div>
				<div class="responsive_frame">
					<iframe src="https://www.youtube.com/embed/HzC0QEZfLuw" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END row -->
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
		 <div class="col-md-4 canarystrap-animate">
			 <div class="canarystrap-heading dark">
					<h3 class="secondary-heading">Fight Night</h3>
				</div>
						<p>Come on down for our very first Fight Night. The long-awaited bout is finally here! After months of speculation, Floyd Mayweather, Jr. is coming out of retirement to square off against Conor McGregor. Two of the world's best trash-talkers, these men are also elite fighters. The historic match up is going down August 26th.</p>
				</div>
        <div class="col-md-8 canarystrap-animate">

			</div>
    </div>
  </div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class=" canarystrap-animate">
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/floyd.jpg" alt="Mayweather VS McGregor" title="Mayweather VS McGregor" class="img-responsive"></p>
				</div>
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/faceoff.jpg" alt="Mayweather VS McGregor" title="Mayweather VS McGregor" class="img-responsive"></p>
				</div>
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/conor.jpg" alt="Mayweather VS McGregor" title="Mayweather VS McGregor" class="img-responsive"></p>
				</div>
			</div>
		</div>
	</div>
</section>
