---
layout: layout_events
---

<%= partial "partials/countdown" %>

<section class="canarystrap-section canarystrap-bg-color">
	<div class="container">
		<div class="row">
			<div class=" canarystrap-animate">
        <div id="countdown">
          <script>CountDownTimer('10/08/2017 7:00 PM', 'countdown')</script>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class="canarystrap-animate">
				 <div class="canarystrap-heading dark event-title">
           <h3 class="secondary-heading">UFC 216 <span class="date">10/08/2017</span></h3>
				  </div>
          <div class="canarystrap-animate">
					<p><img src="/img/events/ufc216/ufc216.jpg" alt="Tony Ferguson and Kevin Lee" title="Tony Ferguson and Kevin Lee" class="img-responsive"></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
		 <div class="col-md-4 canarystrap-animate">
			 <div class="canarystrap-heading dark">
					<h3 class="secondary-heading">Fight Night</h3>
				</div>
						<p>Join us on October 8 for an epic night of fights. The lineup is great. You have Walt Harris vs. Mark Godbeer, Paige VanZant vs Jessica Eye, Fabricio Werdum vs. Derrick Lewis, and Tony Ferguson vs Kevin Lee as a feature fight! And that's just a slice of the list. This is a night you won't want to miss
            <br>
            There is NO reserved seating and the seats go fast, so come down early! We've got a cellphone signal booster and WiFi now, so stay connected while watching the fight. 19+ ONLY!!
            </p>
				</div>
        <div class="col-md-8 canarystrap-animate">
                    <!--Tables for Daily Specials for Mobile view -->
          <table class="index table mobile">
            <tr>
              <th>AGE</th>
            </tr>
            <tr>
              <td>Ferfuson<br>33</td>
            </tr>
            <tr>
              <td>Lee<br>25</td>
            </tr>
          </table>

          <table class="index table mobile">
            <tr>
              <th>HEIGHT</th></tr>
            <tr>
              <td>Ferguson<br>5ft 9in</td>
            </tr>
            <tr>
              <td>Lee<br>5ft 7in</td>
            </tr>
          </table>

          <table class="index table mobile">
            <tr>
              <th>WEIGHT</th>
            </tr>
            <tr>
              <td>Ferguson<br>155lb</td>
            </tr>
            <tr>
            <td>Lee<br>155lb</td>
            </tr>
          </table>

          <table class="index table mobile">
            <tr>
              <th>REACH</th>
            </tr>
            <tr>
              <td>Ferguson<br>76in</td>
            </tr>
            <tr>
              <td>Lee<br>77in</td>
            </tr>
          </table>

          <!--Tables for Daily Specials for tablet and desktop view -->
          <table class="index table tablet_web">
            <tr>
              <th>Ferguson</th>
              <th></th>
              <th>Lee</th>
            </tr>

            <tr>
              <td>Ferguson<br>33</td>
              <th>AGE</th>
              <td>Lee<br>25</td>
            </tr>

            <tr>
              <td>Ferguson<br>5ft 9in</td>
              <th>HEIGHT</th>
              <td>Lee<br>5ft 7in</td>
            </tr>

            <tr>
              <td>Ferguson<br>155lb</td>
              <th>WEIGHT</th>
            <td>Lee<br>155lb</td>
            </tr>

            <tr>
              <td>Ferguson<br>76in</td>
              <th>REACH</th>
              <td>Lee<br>77in</td>
            </tr>
          </table>
			</div>
    </div>
  </div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class=" canarystrap-animate">
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/ufc216/ferguson.jpg" alt="Tony Ferguson" title="Tony Ferguson" class="img-responsive"></p>
				</div>
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/ufc216/ferguson_lee.jpg" alt="Art of Tony Ferguson and Kevin Lee" title="Ferguson vs. Lee" class="img-responsive"></p>
				</div>
				<div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/ufc216/lee.jpg" alt="Kevin Lee" title="Kevin Lee" class="img-responsive"></p>
				</div>
			</div>
		</div>
    <div class="row">
      <div class=" canarystrap-animate">
        <div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/ufc216/eye.jpg" alt="Jessica Eye" title="Jessica Eye" class="img-responsive"></p>
				</div>
        <div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/ufc216/VanZant.jpg" alt="Paige VanZant" title="Paige VanZant" class="img-responsive"></p>
				</div>
        <div class="col-md-4 canarystrap-animate">
					<p><img src="/img/events/ufc216/johnson.jpg" alt="Demetrious Johnson" title="Demetrious Johnson" class="img-responsive"></p>
				</div>
      </div>
    </div>
	</div>
</section>
