.navbar-header {
	height: 60px;
}

.hero-text-heading,
.canarystrap-hero h1 {
		font-size: 52px;
		font-weight: 300;
		margin-bottom: 10px;
		margin-top: 0;
		line-height: 64px;
		color: #fff
}

@media screen and (max-width:768px) {
		.hero-text-heading,
		.canarystrap-hero h1 {
				font-size: 40px;
				line-height: 1.5
		}
}

.canarystrap-navbar .dropdown-submenu>a:before,
.canarystrap-navbar .dropdown>a:before {
		font-family: icomoon;
		line-height: 1;
		font-weight: 400;
		speak: none;
		font-style: normal;
		font-variant: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale
}

@media screen and (max-width:480px) {
		.hero-text-heading,
		.canarystrap-hero h1 {
				font-size: 30px
		}
}

.hero-text-subheading,
.canarystrap-hero p {
		font-size: 16px;
		color: rgba(255, 255, 255, .9)
}

.hero-text-subheading:last-child,
.canarystrap-hero p:last-child {
		margin-bottom: 0
}

.canarystrap-navbar {
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
		margin-bottom: 0;
		background: 0 0;
		-webkit-transition: .3s all;
		transition: .3s all
}

@media screen and (max-width:768px) {
		.canarystrap-navbar {
				background: #fff;
				-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1)
		}
}

.canarystrap-navbar .navbar-toggle:focus,
.canarystrap-navbar .navbar-toggle:hover {
		background-color: transparent
}

.canarystrap-navbar .navbar-toggle {
		border: none
}

.canarystrap-navbar .navbar-toggle span.icon-bar {
		-webkit-transition: all .15s;
		transition: all .15s
}

.canarystrap-navbar .navbar-toggle span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: 10% 10%;
		transform-origin: 10% 10%
}

.canarystrap-navbar .navbar-toggle span:nth-child(3) {
		opacity: 0
}

.canarystrap-navbar .navbar-toggle span:nth-child(4) {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 10% 90%;
		transform-origin: 10% 90%
}

.canarystrap-navbar .navbar-toggle.collapsed span:nth-child(2),
.canarystrap-navbar .navbar-toggle.collapsed span:nth-child(4) {
		-webkit-transform: rotate(0);
		transform: rotate(0)
}

.canarystrap-navbar .navbar-toggle.collapsed span:nth-child(3) {
		opacity: 1
}

.canarystrap-navbar .navbar-brand,
.canarystrap-navbar .navbar-nav>li>a,
.canarystrap-navbar .parent-nav-link-padding {
		margin-left: 15px;
		margin-right: 15px;
		padding: 54px 0
}

.canarystrap-navbar .dropdown-header {
		color: rgba(255, 255, 255, .2);
		padding-left: 10px;
		text-transform: uppercase
}

.canarystrap-navbar .dropdown>a {
		padding-right: 10px!important;
		position: relative;
		display: block
}

@media screen and (max-width:480px) {
		.canarystrap-navbar .dropdown>a {
				display: block;
				padding-right: 0
		}
}

.canarystrap-navbar .dropdown>a:before {
		text-transform: none;
		position: absolute;
		top: 50%;
		right: 0;
		margin-right: -10px;
		margin-top: -11px;
		content: "\e924";
		font-size: 20px;
		color: rgba(255, 255, 255, .5);
		-webkit-transition: .3s all;
		transition: .3s all
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .navbar-brand,
		.canarystrap-navbar .navbar-nav>li>a,
		.canarystrap-navbar .parent-nav-link-padding {
				padding-top: 15px!important;
				padding-bottom: 15px!important
		}
		.canarystrap-navbar .dropdown>a:before {
				color: rgba(0, 0, 0, .2)
		}
}

.canarystrap-navbar .dropdown>a:hover:before {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
}

.canarystrap-navbar .dropdown.open>a,
.canarystrap-navbar .dropdown:active>a,
.canarystrap-navbar .dropdown:focus>a,
.canarystrap-navbar .dropdown:hover>a {
		-webkit-transition: .3s all;
		transition: .3s all
}

.canarystrap-navbar .dropdown.open>a:before,
.canarystrap-navbar .dropdown:active>a:before,
.canarystrap-navbar .dropdown:focus>a:before,
.canarystrap-navbar .dropdown:hover>a:before {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
}

.canarystrap-navbar .dropdown>.dropdown-menu>li a {
		padding: 10px;
		color: rgba(255, 255, 255, .8)
}

.canarystrap-navbar .dropdown>.dropdown-menu>li a:hover,
.canarystrap-navbar .dropdown>.dropdown-menu>li.open>a,
.canarystrap-navbar .dropdown>.dropdown-menu>li:active>a,
.canarystrap-navbar .dropdown>.dropdown-menu>li:focus>a,
.canarystrap-navbar .dropdown>.dropdown-menu>li:hover>a {
		color: #85C8DD;
		background: #fff;
		border-top: none
}

.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu.open>a,
.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu:active>a,
.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu:focus>a,
.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu:hover>a {
		border-top: none
}

.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu.open>a:before,
.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu:active>a:before,
.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu:focus>a:before,
.canarystrap-navbar .dropdown>.dropdown-menu>li.dropdown-submenu:hover>a:before {
		color: #000
}

.canarystrap-navbar .dropdown>.dropdown-menu>li.active>a {
		color: #fff
}

.canarystrap-navbar .navbar-right .dropdown-menu {
		right: auto
}

.canarystrap-navbar .dropdown-menu {
		border: none;
		background: #85C8DD;
		border-radius: 0;
		-webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .15);
		box-shadow: 0 0 7px 0 rgba(0, 0, 0, .15);
		min-width: 200px;
		white-space: normal;
		word-wrap: break-word
}

.canarystrap-navbar .dropdown-menu a {
		white-space: normal
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .dropdown-menu {
				width: 100%;
				padding: 10px 15px
		}
		.canarystrap-navbar .dropdown-menu a {
				color: #fff
		}
}

.canarystrap-navbar .navbar-brand {
		padding-top: 0!important;
		padding-bottom: 0!important;
		font-size: 30px;
		text-transform: uppercase;
		background: url(/img/logo.png) left top no-repeat;
		top: 40px;
		position: relative;
		width: 200px;
		height: 105px;
		margin-top: -15px;
		text-indent: -999999px;
		-webkit-transition: .2s all;
		transition: .2s all
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .navbar-brand {
				top: -15px;
				background-position: left 100%
		}
}

@media screen and (max-width:480px) {
		.canarystrap-navbar .navbar-brand {
				top: 6px!important
		}
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
		.canarystrap-navbar .navbar-brand {
				position: relative;
				width: 117px;
				height: 40px;
				background: url(/img/logo@2x.png) left 100% no-repeat;
				background-size: cover
		}
}

.canarystrap-navbar .navbar-nav>li>a {
		color: #fff;
		font-size: 15px;
		position: relative;
		text-transform: uppercase
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .navbar-nav>li>a {
				padding-top: 8px;
				padding-bottom: 8px;
				color: rgba(0, 0, 0, .7)
		}
}

.canarystrap-navbar .navbar-nav>li>a:active,
.canarystrap-navbar .navbar-nav>li>a:focus,
.canarystrap-navbar .navbar-nav>li>a:hover {
		color: rgba(255, 255, 255, .7)
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .navbar-nav>li>a:active,
		.canarystrap-navbar .navbar-nav>li>a:focus,
		.canarystrap-navbar .navbar-nav>li>a:hover {
				color: rgba(0, 0, 0, .7)
		}
}

.canarystrap-navbar .navbar-nav>li.open>a,
.canarystrap-navbar .navbar-nav>li.open>a:focus,
.canarystrap-navbar .navbar-nav>li.open>a:hover {
		background: 0 0
}

.canarystrap-navbar .navbar-nav>li.active>a {
		background: 0 0;
		color: #fff
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .navbar-nav>li.active>a {
				color: rgba(0, 0, 0, .7)
		}
}

.canarystrap-navbar .navbar-nav>li.active>a:active,
.canarystrap-navbar .navbar-nav>li.active>a:focus,
.canarystrap-navbar .navbar-nav>li.active>a:hover {
		background: 0 0;
		color: #fff
}

.canarystrap-navbar .navbar-nav>li>.dropdown-menu:before {
		border: 1px solid #85C8DD;
		content: "";
		position: absolute;
		top: -20px;
		left: 40px;
		border-color: rgba(133, 200, 221, 0);
		border-bottom-color: #85C8DD;
		border-width: 10px;
		margin-left: -10px
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .navbar-nav>li.active>a:active,
		.canarystrap-navbar .navbar-nav>li.active>a:focus,
		.canarystrap-navbar .navbar-nav>li.active>a:hover {
				color: rgba(0, 0, 0, .7)
		}
		.canarystrap-navbar .navbar-nav>li>.dropdown-menu:before {
				display: none
		}
}

.canarystrap-navbar .navbar-nav .dropdown li.active>a {
		background: 0 0
}

.canarystrap-navbar .navbar-nav.active>a {
		color: #FFA33E!important
}

.canarystrap-navbar .dropdown-submenu {
		position: relative
}

.canarystrap-navbar .dropdown-submenu .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -1px
}

.canarystrap-navbar .dropdown-submenu>a {
		display: block
}

.canarystrap-navbar .dropdown-submenu>a:before {
		text-transform: none;
		position: absolute;
		top: 50%;
		right: 0;
		margin-right: 10px;
		margin-top: -11px;
		content: "\e926";
		font-size: 20px;
		color: rgba(255, 255, 255, .5);
		-webkit-transition: .3s all;
		transition: .3s all
}

@media screen and (max-width:768px) {
		.canarystrap-navbar .dropdown-submenu>a:before {
				color: rgba(0, 0, 0, .2)
		}
}

.canarystrap-navbar .dropdown-submenu>a:hover:before {
		color: rgba(0, 0, 0, .3);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
}

.canarystrap-navbar.scrolled {
		background: #fff;
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .09);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .09);
}

.canarystrap-navbar.scrolled .navbar-brand,
.canarystrap-navbar.scrolled .navbar-nav>li>a,
.canarystrap-navbar.scrolled .parent-nav-link-padding {
		padding-top: 20px;
		padding-bottom: 20px
}

.canarystrap-navbar.scrolled .navbar-brand {
		top: 10px;
		background-position: left 100%;
		height: 50px;
		margin-top: 0;
}

.canarystrap-navbar.scrolled .dropdown>a:before {
		color: rgba(0, 0, 0, .4)
}

.canarystrap-navbar.scrolled .navbar-nav>li>a {
		color: rgba(0, 0, 0, .7)
}

.canarystrap-navbar.scrolled .navbar-nav>li>a:hover {
		color: rgba(0, 0, 0, .7)!important
}

.canarystrap-navbar.scrolled .navbar-nav>li.active>a {
		color: #FFA33E!important
}

.container-fluid .navbar-brand {
		margin-left: 15px
}

.container-fluid .dropdown-submenu {
		position: relative
}

.container-fluid .dropdown-submenu .dropdown-menu {
		top: 0;
		left: auto;
		right: 100%;
		margin-top: -1px
}

.canarystrap-hero {
		background-size: cover;
		background-position: center center
}

.canarystrap-hero>.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .3);
		z-index: 1
}

.btn.btn-primary,
.canarystrap-hero.canarystrap-hero-colored {
		background: #FFA33E
}

.canarystrap-hero>.container {
		position: relative;
		z-index: 2
}

.canarystrap-hero .canarystrap-hero-text {
		padding-top: 200px;
		padding-bottom: 200px
}

@media screen and (max-width:768px) {
		.canarystrap-navbar.scrolled .navbar-nav>li.active>a {
				color: #FFA33E!important
		}
		.canarystrap-hero .canarystrap-hero-text {
				padding-top: 50px;
				padding-bottom: 50px
		}
}

.canarystrap-hero.canarystrap-sm-hero .canarystrap-hero-text {
		padding-top: 150px;
		padding-bottom: 150px
}

@media screen and (max-width:768px) {
		.canarystrap-hero.canarystrap-sm-hero .canarystrap-hero-text {
				padding-top: 50px;
				padding-bottom: 50px
		}
}

.canarystrap-hero.canarystrap-xs-hero .canarystrap-hero-text {
		padding-top: 90px;
		padding-bottom: 90px
}

@media screen and (max-width:768px) {
		.canarystrap-hero.canarystrap-xs-hero .canarystrap-hero-text {
				padding-top: 50px;
				padding-bottom: 50px
		}
}

.canarystrap-hero .btn {
		position: relative;
		font-size: 18px;
		width: 200px
}

@media screen and (max-width:480px) {
		.container-fluid .dropdown-submenu:hover>.dropdown-menu,
		.canarystrap-navbar .dropdown-submenu:hover>.dropdown-menu {
				display: block
		}
		.canarystrap-hero .btn {
				width: 100%;
				margin-bottom: 10px
		}
}

.canarystrap-hero .btn.btn-primary {
		text-transform: uppercase;
		padding: 15px 20px
}

.canarystrap-hero.canarystrap-hero-colored h1 {
		color: #fff
}

.canarystrap-hero.canarystrap-hero-colored p {
		color: rgba(255, 255, 255, .8)
}
