<div class="hero-white"></div>
<div class="hero">
	<div class="container">
		<div class="hero-image">
			<header>
				<h1><%= current_page.data.headline %></h1>
				<p><%= current_page.data.subhead %></p>
			</header>
		</div>
	</div>
</div>
<div class="clearfix"></div>
