<section class="canarystrap-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 canarystrap-animate">
				<div class="canarystrap-footer-widget">
					<h3>Location</h3>
					<div class="row">
						<div class="col-md-12">
							<p> 4700 Hammond Bay Rd <br> Nanaimo, BC</p>
              <p>Must be 19+ to Enter</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 canarystrap-animate">
				<div class="canarystrap-footer-widget">
					<h3>Open Hours</h3>
					<div class="row">
						<div class="col-md-12">
							<p>Monday - Saturday <br> 11am - 12am</p>
						</div>
						<div class="col-md-12">
							<p>Sunday <br> 11am - 11pm</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 canarystrap-animate">
				<div class="canarystrap-footer-widget">
					<h3>Kitchen Hours</h3>
					<div class="row">
						<div class="col-md-12">
							<p>Sunday/Monday/Tuesday <br> 11am - 9pm</p>
						</div>
						<div class="col-md-12">
							<p>Wednesday - Saturday <br> 11am - 10pm</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="canarystrap-copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p class="copyright-text">&copy; 2017 <%= link_to 'Proudly developed by Canary Print + Design', 'https://www.canaryprint.ca/' %> All Rights Reserved.
			</div>
			<div class="col-md-4">
				<ul class="canarystrap-footer-social right">
					<li>
						<% link_to 'https://www.facebook.com/piperspubltd/' do %>
						  <%= image_tag 'img/facebook.png' %>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
