<nav class="navbar navbar-default navbar-fixed-top canarystrap-navbar">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" >Home</a>
		</div>

		<div id="navbar-collapse" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#" data-nav-section="welcome">About Us</a></li>
				<li><a href="#" data-nav-section="breakfast">Breakfast</a></li>
				<li><a href="#" data-nav-section="entrees">Entrees</a></li>
				<li><a href="#" data-nav-section="sandwhiches">Sandwhiches</a></li>
				<li><a href="#" data-nav-section="burgers">Burges</a></li>
				<li><a href="#" data-nav-section="appetizers">Appetizers</a></li>
				<li><a href="#" data-nav-section="salad">Salad</a></li>
			</ul>
		</div>
	</div>
</nav>
