<nav class="navbar navbar-default navbar-fixed-top canarystrap-navbar">
	<div class="container">
		<div class="navbar-header">
			<%= link_to 'Home', '/', :class => 'navbar-brand', :title => 'Home' %>
		</div>

		<div id="navbar-collapse" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
			</ul>
		</div>
	</div>
</nav>
