<nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar"> 
  <div class="container"> 
    <div class="navbar-header"> 
      <a class="navbar-brand" href="/" >Home</a> 
    </div> 
 
    <div id="navbar-collapse" class="navbar-collapse collapse"> 
      <ul class="nav navbar-nav navbar-right"> 
      </ul> 
    </div> 
  </div> 
</nav> 
