<section class="probootstrap-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 probootstrap-animate">
				<div class="probootstrap-footer-widget">
					<h3>Location</h3>
					<div class="row">
						<div class="col-md-12">
							<p> 4700 Hammond Bay Rd <br> Nanaimo, BC</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 probootstrap-animate">
				<div class="probootstrap-footer-widget">
					<h3>Open Hours</h3>
					<div class="row">
						<div class="col-md-12">
							<p>Monday - Saturday <br> 11am - 12am</p>
						</div>
						<div class="col-md-12">
							<p>Sunday <br> 11am - 11pm</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 probootstrap-animate">
				<div class="probootstrap-footer-widget">
					<h3>Kitchen Hours</h3>
					<div class="row">
						<div class="col-md-12">
							<p>Sunday/Monday/Tuesday <br> 11am - 9pm</p>
						</div>
						<div class="col-md-12">
							<p>Wednesday - Saturday <br> 11am - 10pm</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="probootstrap-copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p class="copyright-text">&copy; 2017 <a href="https://www.canaryprint.ca/">Proudly developed by Canary Print + Design</a>. All Rights Reserved.
				<!-- <br>Images by <a href="https://www.canaryprint.ca/">Canary Print + Design</a></p> -->
			</div>
			<div class="col-md-4">
				<ul class="probootstrap-footer-social right">
					<!-- <li><a href="#"><i class="icon-twitter"></i></a></li> -->
					<li><a href="https://www.facebook.com/piperspubltd/"><i class="icon-facebook"></i></a></li>
					<!-- <li><a href="#"><i class="icon-instagram"></i></a></li> -->
				</ul>
			</div>
		</div>
	</div>
</section>
