<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport"
				content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
				content="Pipers Pub - A sports pub with a West Coast First Nations feel">
	<meta name="keywords"
				content="nanaimo, pub, beer, ufc, fight, restaurant, dinner, lunch, food, drink">

	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#db9327">
	<meta name="theme-color" content="#db9327">

	<!-- <link rel="stylesheet" media="screen" href="/fonts/icomoon/icomoon.css" type="text/css"/> -->
	<!-- <link rel="stylesheet" media="screen" href="/fonts/glyphicons/glyphicons.css" type="text/css"/> -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<!-- Use the title from a page's frontmatter if it has one -->
	<title><%= current_page.data.title || "Pipers Pub" %></title>

	<%= stylesheet_link_tag "site.bundle" %>
	<%= partial "partials/google_analytics" %>

</head>
