.canarystrap-footer-social {
	li {
		img {
			width: 40px;
			height: auto;
		}
	}
}

// Variables
$font-primary: 'Open Sans', Arial, sans-serif;
$font-secondary: 'Pinyon Script', serif;
$brand-primary: #FFA33E;
$brand-black: #000000;
$brand-white: #ffffff;
$brand-dropdown: #85C8DD;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;
