section[data-section=menu] {
		position: relative;
		margin-top: -140px;
		z-index: -1
}

.canarystrap-section {
		padding: 7em 0
}

.canarystrap-section.canarystrap-border-top {
		border-top: 1px solid rgba(0, 0, 0, .1)
}

.canarystrap-section.canarystrap-border-bottom {
		border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.canarystrap-section>.container.canarystrap-border-top {
		padding-top: 50px;
		border-top: 1px solid rgba(0, 0, 0, .1)
}

.canarystrap-section.canarystrap-bg-white {
		background: #fff
}

@media screen and (max-width:768px) {
		section[data-section=menu] {
				margin-top: 0
		}
		.canarystrap-section {
				padding: 3em 0
		}
}

.canarystrap-section-bg {
		background-size: cover;
		background-repeat: no-repeat;
		padding: 7em 0;
		position: relative;
		height: 600px
}

.canarystrap-section-bg.overlay:before {
		content: "";
		background: rgba(0, 0, 0, .2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0
}

.canarystrap-section-bg .canarystrap-heading {
		margin-top: 250px
}

@media screen and (max-width:768px) {
		.canarystrap-section-bg {
				padding: 3em 0;
				height: 300px
		}
		.canarystrap-section-bg .canarystrap-heading {
				margin-top: 50px
		}
}

.canarystrap-footer {
		background: #000;
		padding: 7em 0;
		color: rgba(255, 255, 255, .7)
}

.canarystrap-footer h3 {
		font-size: 18px;
		letter-spacing: .2em;
		text-transform: uppercase;
		color: #fff
}

.canarystrap-footer .canarystrap-footer-widget {
		margin-bottom: 0
}

@media screen and (max-width:768px) {
		.canarystrap-footer {
				padding: 2em 0
		}
		.canarystrap-footer .canarystrap-footer-widget {
				margin-bottom: 20px
		}
}

.canarystrap-copyright {
		background: #262626;
		padding: 20px 0
}

.canarystrap-copyright a {
		color: rgba(255, 255, 255, .2)
}

.canarystrap-copyright a:hover {
		color: #fff
}

.canarystrap-copyright p {
		font-size: 14px
}

.canarystrap-copyright p:last-child {
		margin-bottom: 0
}

@media screen and (max-width:768px) {
		.canarystrap-copyright p.copyright-text {
				margin-bottom: 20px
		}
}

.canarystrap-footer-social {
		padding: 0;
		margin: 0
}

.canarystrap-footer-social.right {
		text-align: right
}

.canarystrap-footer-social li {
		display: inline;
		padding: 0;
		margin: 0;
		list-style: none
}

.canarystrap-footer-social li a {
		padding: 10px;
		font-size: 22px
}

.canarystrap-footer-social li:first-child>a {
		padding-left: 0
}

.canarystrap-block-image {
		background: #fff;
		margin-bottom: 30px
}

.canarystrap-block-image figure img {
		max-width: 100%
}

.canarystrap-block-image .text {
		padding: 20px
}

.canarystrap-block-image .text .date {
		display: block;
		color: #999;
		font-size: 12px;
		letter-spacing: .2em;
		text-transform: uppercase
}

.canarystrap-block-image .text h3 {
		margin: 0 0 10px;
		font-size: 20px
}

.canarystrap-block-image .text h3 a {
		color: #000
}

.canarystrap-block-image .text h3 a:hover {
		color: #FFA33E
}

.canarystrap-block-image .text p:last-child {
		margin-bottom: 0
}

.canarystrap-custom-link {
		font-size: 16px;
		text-transform: uppercase;
		color: #000;
		display: inline-block;
		text-decoration: none;
		position: relative;
		padding-bottom: 5px
}

.canarystrap-custom-link.link-sm {
		font-size: 14px
}

.canarystrap-custom-link:before {
		content: "";
		display: block;
		width: 0;
		height: 2px;
		background: #FFA33E;
		position: absolute;
		bottom: 0;
		z-index: 2;
		-webkit-transition: width .5s;
		transition: width .5s
}

.canarystrap-custom-link:after {
		z-index: 1;
		position: absolute;
		bottom: 0;
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: #000
}

.canarystrap-custom-link:hover {
		color: #000
}

.canarystrap-custom-link:hover:before {
		width: 100%;
		background: #FFA33E
}

.image-wrap {
		overflow: hidden;
		position: relative
}

@media screen and (max-width:480px) {
		.image-wrap {
				width: 100%;
				height: 200px
		}
}

.image-wrap .image-bg {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%)
}

.image-wrap .image-bg img {
		min-width: 100%;
		min-height: 100%
}

.menus {
		padding: 0;
		margin: 0
}

.menus li {
		padding: 0;
		margin: 0 0 10px;
		list-style: none;
		display: block;
		position: relative
}

.menus li .image,
.menus li .text {
		display: table-cell;
		vertical-align: top
}

.menus li .image {
		width: 80px
}

.menus li .image img {
		max-width: 100%;
		border-radius: 50%
}

.menus li .text {
		padding-left: 20px
}

.menus li .text h3 {
		margin: 15px 0 0;
		font-size: 18px;
		text-transform: uppercase;
		color: #000
}

.menus li .text .price {
		position: absolute;
		top: 15px;
		right: 0;
		font-size: 20px;
		color: #FFA33E
}

.menu-category {
  padding-left: 34px;
}

.menu-section {
  border-bottom: 2px solid #FFA33E;
}

.Add-On {
  background-color: #FFA33E;
  color: white;
  padding-left: 13px;
  padding-bottom: 1em;
}
.Add-On li {
  padding-left: 13px;
}

.table {
  border-collapse: collapse;
  width: 100%;}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.responsive_frame {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.responsive_frame iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.date {
  color: #FFA33E;
}

@media screen and (max-width: 768px) {
  .mobile {
    visibility: visible;
  }

  th, td {
    border-bottom: none;
    text-align: center;
  }

  .tablet_web {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .tablet_web {
    visibility: visible;
  }
}

@media screen and (max-width:768px) {
		.canarystrap-footer-social.right {
				text-align: left
		}
		.menus li .text h3 {
				margin-top: 0
		}
		.menus li .text .price {
				top: 0;
				position: relative;
				display: block;
				margin-bottom: 0
		}
}

.canarystrap-cell-retro {
		width: 100%;
		float: left;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: -13%;
		position: relative
}

.canarystrap-cell-retro .half {
		width: 50%;
		float: left
}

@media screen and (max-width:768px) {
		.canarystrap-cell-retro .half {
				width: 100%;
				margin-top: 0
		}
}

.canarystrap-cell {
		background: #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative
}

.modal .canarystrap-modal-flex .canarystrap-modal-figure,
.canarystrap-cell .image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat
}

.canarystrap-cell .image,
.canarystrap-cell .text {
		width: 50%
}

@media screen and (max-width:992px) {
		.canarystrap-cell .image,
		.canarystrap-cell .text {
				width: 100%
		}
		.canarystrap-cell .image {
				height: 200px
		}
}

.canarystrap-cell .text {
		padding: 40px;
		position: relative
}

.canarystrap-cell .text h3 {
		margin: 0 0 10px;
		font-size: 18px;
		text-transform: uppercase;
		color: #000
}

.canarystrap-cell .text:before,
.canarystrap-cell.reverse .text:before {
		z-index: 22;
		top: 15%;
		content: " ";
		height: 0;
		margin-top: -12px;
		pointer-events: none
}

.canarystrap-cell .text p:last-child {
		margin-bottom: 0
}

.canarystrap-cell .text p.price {
		font-size: 20px;
		color: #FFA33E
}

.canarystrap-cell .text:before {
		right: 100%;
		border: solid transparent;
		width: 0;
		position: absolute;
		border-color: rgba(255, 225, 255, 0);
		border-right-color: #fff;
		border-width: 12px
}

.canarystrap-cell.reverse .image {
		position: absolute;
		right: 0;
		width: 50%;
		min-height: 100%
}

@media screen and (max-width:992px) {
		.canarystrap-cell.reverse .image {
				position: relative;
				width: 100%
		}
}

.canarystrap-cell.reverse .text:before {
		left: 100%;
		border: solid transparent;
		width: 0;
		position: absolute;
		border-color: rgba(255, 225, 255, 0);
		border-left-color: #fff;
		border-width: 12px
}

@media screen and (max-width:768px) {
		.canarystrap-cell .text:before,
		.canarystrap-cell.reverse .text:before {
				display: none
		}
}

.grid-item {
		float: left
}

.gutter-sizer {
		width: 2%
}

.grid-item,
.grid-sizer {
		margin-bottom: 0
}

.grid-item img,
.grid-sizer img {
		max-width: 100%;
		margin-bottom: 0;
		transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out
}

.two-cols .grid-item,
.two-cols .grid-sizer {
		width: 49%
}

@media screen and (max-width:768px) {
		.two-cols .grid-item,
		.two-cols .grid-sizer {
				width: 49%
		}
}

@media screen and (max-width:768px) and (max-width:992px) {
		.two-cols .grid-item img,
		.two-cols .grid-sizer img {
				margin-bottom: 10px
		}
}

@media screen and (max-width:768px) and (max-width:768px) {
		.two-cols .grid-item img,
		.two-cols .grid-sizer img {
				margin-bottom: 10px
		}
}

@media screen and (max-width:480px) {
		.two-cols .grid-item,
		.two-cols .grid-sizer {
				width: 100%;
				margin-left: 0;
				margin-right: 0
		}
}

.three-cols .grid-item,
.three-cols .grid-sizer {
		width: 32%
}

@media screen and (max-width:768px) {
		.three-cols .grid-item,
		.three-cols .grid-sizer {
				width: 48%;
				margin-bottom: 10px
		}
}

@media screen and (max-width:480px) {
		.three-cols .grid-item,
		.three-cols .grid-sizer {
				width: 100%;
				margin-left: 0;
				margin-right: 0
		}
}

.four-cols .grid-item,
.four-cols .grid-sizer {
		width: 23.5%
}

@media screen and (max-width:768px) {
		.four-cols .grid-item,
		.four-cols .grid-sizer {
				width: 32%;
				margin-bottom: 10px
		}
}

@media screen and (max-width:480px) {
		.four-cols .grid-item,
		.four-cols .grid-sizer {
				width: 100%;
				margin-left: 0;
				margin-right: 0
		}
}

.canarystrap-gallery-item {
		padding: 0;
		margin: 0 0 20px;
		list-style: none;
		float: left;
		cursor: pointer;
		position: relative
}

.canarystrap-gallery-item img {
		max-width: 100%;
		-webkit-transition: .3s all;
		transition: .3s all
}

.canarystrap-gallery-item a {
		display: block;
		float: left;
		width: 100%
}

.canarystrap-gallery-item:hover img {
		opacity: .7
}

.canarystrap-form {
		margin-bottom: 50px
}

.canarystrap-form label {
		font-weight: 400
}

.canarystrap-form .form-control {
		height: 46px;
		-webkit-box-shadow: none;
		box-shadow: none;
		font-size: 14px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none
}

.canarystrap-form .form-control:active,
.canarystrap-form .form-control:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-color: #FFA33E
}

.canarystrap-form .form-group .form-field {
		position: relative
}

.canarystrap-form .form-group .form-field .icon {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 20px
}

.canarystrap-form .form-group .form-field .form-control {
		padding-right: 50px
}

.canarystrap-form textarea.form-control {
		height: inherit;
		resize: vertical
}

.canarystrap-animate {
		opacity: 0;
		visibility: hidden
}

.canarystrap-contact-info {
		padding: 0;
		margin: 0 0 30px
}

.canarystrap-contact-info li {
		padding: 0;
		margin: 20px 0 15px;
		list-style: none;
		line-height: 24px
}

.proboostrap-clients .client-logo,
.canarystrap-team {
		margin-bottom: 30px
}

.canarystrap-contact-info li>i,
.canarystrap-contact-info li>span {
		vertical-align: top;
		display: table-cell
}

.canarystrap-contact-info li>i {
		font-size: 20px;
		position: relative;
		top: 2px;
		width: 30px
}

.flexslider,
.canarystrap-pricing,
.canarystrap-pricing-wrap {
		position: relative
}

.canarystrap-flex-section {
		padding: 7em 0
}

.canarystrap-flex-section.canarystrap-bg-white {
		background: #fff
}

.canarystrap-bg-color {
  background-color: #FFA33E;
}

@media screen and (max-width:768px) {
		.proboostrap-clients .client-logo {
				margin-bottom: 30px
		}
}

.canarystrap-pricing {
		background: #fff;
		float: left;
		width: 100%;
		padding: 20px;
		text-align: center;
		-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .08);
		box-shadow: 0 0 40px 0 rgba(0, 0, 0, .08);
		z-index: 2;
		margin-top: -200px
}

@media screen and (max-width:992px) {
		.canarystrap-pricing {
				margin-top: 0!important;
				margin-bottom: 30px
		}
}

.canarystrap-pricing.popular {
		z-index: 10;
		margin-top: -215px;
		padding-top: 40px
}

@media screen and (max-width:992px) {
		.canarystrap-pricing.popular {
				margin-top: 0!important
		}
}

.canarystrap-pricing h3 {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-bottom: 50px
}

.canarystrap-pricing h3>span {
		margin-top: 10px;
		display: block;
		text-transform: none;
		letter-spacing: normal;
		color: #FFA33E;
		font-size: 14px
}

.canarystrap-pricing .canarystrap-price-wrap {
		margin-bottom: 50px
}

.canarystrap-pricing .canarystrap-price-wrap .canarystrap-price {
		font-size: 50px;
		color: #FFA33E;
		font-weight: 100;
		display: block;
		margin-bottom: 10px
}

.canarystrap-pricing .canarystrap-price-wrap .canarystrap-price-per-month {
		font-size: 13px
}

.canarystrap-pricing ul {
		padding: 0 30px;
		margin: 0 0 50px
}

@media screen and (max-width:480px) {
		.canarystrap-pricing ul {
				padding: 0 10px
		}
}

.canarystrap-pricing ul li {
		padding: 0;
		margin: 0 0 20px;
		line-height: 24px;
		list-style: none
}


.flexslider,
.flexslider .slides>li,
.slider-height {
		height: 750px
}

.canarystrap-heading .primary-heading {
		font-family: "Pinyon Script", serif;
		color: #FFA33E;
		margin: 0;
		padding: 0;
		font-size: 80px
}

@media screen and (max-width:768px) {
		.canarystrap-heading .primary-heading {
				font-size: 70px
		}
}

.canarystrap-heading .secondary-heading {
		text-transform: uppercase;
		color: #fff;
		margin: 0;
		padding: 0;
		letter-spacing: .05em;
		font-size: 50px;
		position: relative;
		top: -50px;
		font-weight: 700;
		line-height: 40px
}

@media screen and (max-width:768px) {
		.canarystrap-heading .secondary-heading {
				font-size: 40px;
      padding-top: 2em;
		}
}

.canarystrap-heading.dark .secondary-heading {
		color: #000
}

.canarystrap-heading .seperator {
		display: block;
		margin: 0 auto 10px;
		color: #ccc;
		font-weight: 300
}

.flexslider {
		z-index: 2;
		background: 0 0;
		border: none;
		margin: 0
}

.flexslider .canarystrap-slider-text {
		margin-top: 300px
}

@media screen and (max-width:480px) {
		.flexslider,
		.flexslider .slides>li,
		.slider-height {
				height: 400px
		}
		.flexslider .canarystrap-slider-text {
				margin-top: 150px
		}
		.flexslider .flex-direction-nav {
				display: none
		}
}

.flexslider .canarystrap-slider-text .sub-heading {
		font-size: 20px;
		margin-top: -40px;
		color: rgba(255, 255, 255, .7)
}

.flexslider .canarystrap-slider-text .sub-heading a {
		color: #fff
}

.flexslider .slides>li {
		background-size: cover;
		background-repeat: none
}

.flexslider .slides>li.overlay:before {
		content: "";
		background: rgba(0, 0, 0, .2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0
}

.flexslider .flex-control-paging {
		position: absolute;
		bottom: 30px;
		z-index: 20
}

.flexslider .flex-direction-nav a {
		text-decoration: none;
		display: block;
		width: 30px;
		height: 30px;
		margin: -60px 0 0;
		position: absolute;
		top: 50%;
		z-index: 10;
		overflow: hidden;
		opacity: 0;
		cursor: pointer;
		color: rgba(0, 0, 0, .8);
		text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		background: rgba(0, 0, 0, .8);
		border-radius: 0;
		padding: 30px
}

.mt0,
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
		margin-top: 0
}

.flexslider .flex-direction-nav a:before {
		font-family: icomoon;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		content: "\e929";
		-webkit-transition: .3s all;
		transition: .3s all;
		font-size: 30px;
		display: inline-block;
		color: rgba(255, 255, 255, .8);
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
}

.flexslider .flex-direction-nav a.flex-next:before {
		content: "\e92a";
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
}

.flex-direction-nav .flex-prev {
		left: 0
}

.flex-direction-nav .flex-next {
		right: 0;
		text-align: right
}

.flexslider:hover .flex-direction-nav .flex-prev {
		opacity: .7;
		left: 0
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
		opacity: 1
}

.flexslider:hover .flex-direction-nav .flex-next {
		opacity: .7;
		right: 0
}

.flex-control-paging li a {
		width: 10px;
		height: 10px;
		display: block;
		background: rgba(255, 255, 255, .2);
		cursor: pointer;
		text-indent: -9999px;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		border-radius: 50%;
		-webkit-transition: .3s all;
		transition: .3s all
}

.flex-control-paging li a:hover {
		background: #333;
		background: rgba(255, 255, 255, .7)
}

.flex-control-paging li a.flex-active {
		background: #fff;
		cursor: default
}

