<section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h3 class="secondary-heading">Event Title</h3>
            </div>
            <span>DD/MM/YYYY</span><br>
            <span>TIME</span><br>
            <span>LOCATION</span><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at odio sed sem ullamcorper lacinia a ut mauris. Maecenas mollis quam quis massa aliquet, et interdum arcu luctus. Phasellus consequat et ligula sit amet gravida. Maecenas rutrum neque eu dignissim hendrerit. Cras tempus eget magna sit amet ornare.</p>
          <p>Proin tristique sapien sit amet pretium ornare. Aenean at enim ipsum. Suspendisse laoreet, lectus at pretium congue, lorem quam malesuada sapien, at consequat risus nunc et urna. Nam faucibus leo nisl, nec feugiat mauris ultricies quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sagittis eu lorem accumsan mollis. Nam elementum nisi sit amet fermentum finibus. Quisque quam est, venenatis sit amet fermentum sit amet, imperdiet quis augue. Phasellus a est ac magna molestie ultrices at eu turpis. Nunc ut viverra lorem. Donec dictum porttitor orci, non viverra nisi posuere viverra. Donec efficitur tempor arcu sit amet consectetur.</p>
            
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <p><img src="img/mayweather.jpg" alt="David Frank Sr." title="David Frank Sr." class="img-responsive"></p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>