---
layout: layout_third
---

<section class="probootstrap-section probootstrap-bg-color">
	<div class="container">
		<div class="row">
			<div class=" probootstrap-animate">
				<div id="countdown2">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="probootstrap-section probootstrap-bg-white">
	<div class="container">
		<div class="row">
			<div class=" probootstrap-animate">
				 <div class="probootstrap-heading dark">
					<h3 class="secondary-heading">Event Title <span class="date">DD/MM/YYYY</span></h3>
				</div>
				<div class="responsive_frame">
					<iframe src="https://www.youtube.com/embed/eccLPmw3c20" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END row -->
	</div>
</section>

<section class="probootstrap-section probootstrap-bg-white">
	<div class="container">
		<div class="row">
		 <div class="col-md-8 probootstrap-animate">
			 <div class="probootstrap-heading dark">
					<h3 class="secondary-heading">Fight Night</h3>
				</div>
						<p>Lorem ipsum dolor sit amet, ultricies lorem sed nunc quis interdum consequat, quis eleifend vitae rutrum orci tristique, dolor malesuada, justo est fringilla egestas ullamcorper. Eu velit rutrum congue parturient elementum velit, vivamus arcu, sit id urna nec, est wisi pharetra amet feugiat mauris donec. Tellus convallis arcu quam condimentum nec, ut vestibulum ut, proin libero id et blandit est, dignissim lectus eu lobortis vulputate. Lacus mi non sem posuere, dui massa. Purus nec orci in vulputate enim, neque vehicula nunc eros, pharetra orci mauris. Maecenas velit id, ipsum aenean elit. Ornare ultricies dui viverra. Nullam a quisque justo consectetuer luctus et, ut est lorem, non justo at tortor fusce natus turpis, porttitor mi rutrum, consequat nam lobortis augue aliquet. Nec neque senectus natoque ligula massa, dolor sit nonummy in est egestas, aenean vitae. Velit nulla, enim aliquam libero amet amet nulla. Sollicitudin sapien.</p>
						<p>Duis vitae duis sed integer non, curae mauris placerat quis nec. Porta egestas lectus class mauris, pulvinar placerat blandit nostra curabitur, placerat vestibulum scelerisque, pellentesque euismod vestibulum mi integer, leo lorem et autem. Et lacus mauris cras tristique fusce, viverra conubia pellentesque hac dolor amet penatibus, varius arcu faucibus quam elementum nulla. Sed sed nunc, ac hac conubia sed at, hendrerit mauris sit ut. Turpis mauris, nullam condimentum sit pulvinar leo, non vitae ligula amet at aptent, inceptos vitae non. Mollis nam, nam elit vel eget, placerat sem elementum eget sollicitudin porta, suspendisse ultricies nam elit praesent possimus. Proident maecenas semper semper nibh ac, in lacus.
						</p>
				</div>
			<div class="col-md-4 probootstrap-animate">
			 <p><img src="img/mayweather.jpg" alt="David Frank Sr." title="David Frank Sr." class="img-responsive"></p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class=" probootstrap-animate">
				<div class="col-md-4 probootstrap-animate">
					<p><img src="img/mayweather.jpg" alt="David Frank Sr." title="David Frank Sr." class="img-responsive"></p>
				</div>
				<div class="col-md-4 probootstrap-animate">
					<p><img src="img/mayweather.jpg" alt="David Frank Sr." title="David Frank Sr." class="img-responsive"></p>
				</div>
				<div class="col-md-4 probootstrap-animate">
					<p><img src="img/mayweather.jpg" alt="David Frank Sr." title="David Frank Sr." class="img-responsive"></p>
				</div>
			</div>
		</div>
	</div>
</section>
