<!-- BREAKFAST -->
<section class="probootstrap-section probootstrap-bg-white menu-section">
      <div class="container">
        <div class="row">
          <h2 class="menu-category">BREAKFAST</h2>
          <div class="col-md-6">
            <ul class="menus">   
              <li>
                <div class="text">
                  <span class="price">15.95</span>
                  <h3>Huxnii Breakfast</h3>
                  <p>Three eggs, three pieces of Alderwood smoked bacon, ham and three sausages; served on a bed of shredded has browns with your choice of Bridor artisan breads.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">11.95</span>
                  <h3>Banana Loaf French Toast</h3>
                  <p>Three slices of our ‘wow factor’ banana loaf topped with icing sugar, whipped cream and your choice of berry coolly, chocolate sauce or caramel sauce.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">13.95</span>
                  <h3>Denver Omelette</h3>
                  <p>Three egg omelette with clack forest ham, sautéed mushrooms, tomatoes, red peppers, green onions, and 3-cheese blend with you choice of Bridor artisan breads.</p>
                </div>
              </li>
            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">11.95</span>
                  <h3>The Benny</h3>
                  <p>Poached eggs on a toasted english muffin with choice of Alderwood smoked bacon or black forest ham; topped with hollandaise cause, and served with a side of shredded has browns.</p>
                </div>
              </li>

              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>Pipers Smoked Salmon Benny</h3>
                  <p>Two poached eggs with pacify-smoked salmon on a toasted english muffin, topped with hollandaise sauce, deep fried capers and goat cheese. Served with a side of shredded has browns.</p>
                </div>
              </li>

              <li>
                <div class="text">
                  <span class="price">13.99</span>
                  <h3>Piper's Bowl</h3>
                  <p>Sautéed mushrooms, red peppers, and green onions on a bed of shredded has browns with cheesy provolone eggs and your choice of Alderwood smoked bacon, black forest ham or sausages. Served with you choice of Bridor artisan breads.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<!-- Entrees -->
<section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <h2 class="menu-category">ENTREES</h2>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">1 PIECE 15.95 | 2 PIECE 16.95</span>
                  <h3>Cod Fish &amp; Chips</h3>
                  <p>Huxnii beer-battered cod, served with coleslaw, tartar sauce and your choice of kennebec fries or a salad.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">20.95</span>
                  <h3>The Rib Eye</h3>
                  <p>Rib eye, pretty hard to beat!!!
                    A grilled 8oz. rib eye steak topped with a mushroom au jus. Served with a roasted garlic mashed potatoes and seasonal vegetables.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">18.95</span>
                  <h3>BBQ Rub Salmon</h3>
                  <p>Enjoy grilled salmon crusted with our signature Piper’s BBQ rub, served with our house-made avocado salsa and your choice of basmati rice or roasted garlic mashed potatoes with seasonal vegetables.</p>
                </div>
              </li>
            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">16.95</span>
                  <h3>Citrus Chicken</h3>
                  <p>A pan-seared, bone-in chicken breast oven roasted to perfections; finished with a house made citrus butter. Served with roasted garlic mashed potatoes and seasonal vegetables.</p>
                </div>
              </li>

              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>Salisbury Steak</h3>
                  <p>Our house-made burger patter smothered in mushrooms &amp; gravy, served with roasted garlic mashed potatoes and season vegetables.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
</section>

<!--Add-On-->
<section class="probootstrap-section probootstrap-bg-white">
  <div class="Add-On">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="menus">
                <div class="text">
                  <h3 class="Add-On">SIDES</h3>
                    <li>Kennebec fries</li>
                  <li>Yam fried</li>
                  <li>House Salad</li>
                  <li>Caesar Salad</li>
                  <li>Basmati Rice</li>
                  <li>Mash Potato</li>
                  <li>Cup of Soup</li>
                </div>
            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="menus">
                <div class="text">
                  <h3 class="Add-On">SUBSTITUTIONS</h3>
                  <li>Bowl of Soup 2.95</li>
                  <li>Poutine 3.95</li>
                  <li>Onion Rings 2.95</li>
                  <li>Cup of Cheddar 3.95</li>
                  <li>Bowl of Chowder 5.95</li>
                </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Sandwiches -->
<section class="probootstrap-section probootstrap-bg-white menu-section">
      <div class="container">
        <div class="row">
          <h2 class="menu-category">SANDWHICHES</h2>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">15.95</span>
                  <h3>Ultimate Beef Dip</h3>
                  <p>Served on a sliced ciabatta garlic bread with a savoury, sweet onion &amp; horseradish aioli, topped with a thinly sliced roast beef, melted provolone cheese, sautéed mushrooms &amp; crispy onions. Served with a side of herb au jus and your choice of a side.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>‘Beast mode’ Clubhouse </h3>
                  <p>Choose from our Bridor artisan breads to create your beast. This venture is topped with spinach, tomatoes, turkey, Calderwood smoked bacon, avocado, cheddar cheese, and chipotle mayo. Served with your choice of side.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">12.95</span>
                  <h3>California BLT</h3>
                  <p>Our authentic California BLT is all about fresh ingredients: fresh tomatoes, kale, alderwood smoked bacon, and pepper aioli. Seles from our birder artisan breads with choice of side.</p>
                </div>
              </li>

            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">11.95</span>
                  <h3>Steak Sandwich</h3>
                  <p>6 oz sirlion AAA beef served on a ciabatta garlic bread, topped with sautéed mushrooms &amp; onions, and two onions rings. Served with your choice of side.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>BBQ Asian Pork Belly</h3>
                  <span>With PHO dip</span>
                  <p>Slow roasted, shredded pork belly tossed and heated in BBQ sauce, topped with out house-made pickled veggie dalkon, carrot and onions. Served on a toasted pretzel bun with samal aioli and pho dip with your choice of side.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">9.95</span>
                  <h3>Huxnii Chowder</h3>
                  <p>Our rich &amp; creamy  seafood chowder is made daily with an assured catch of seafood: salmon, clams, shrimp, cod, Served with Bannock.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">$10.95</span>
                  <h3>Daily Soup &amp; Sandwich Combo</h3>
                  <p>Created daily by our Piper’s chef. Ask your server for details.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<!-- Burgers -->
<section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <h2 class="menu-category">BURGERS</h2>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">12.95</span>
                  <h3>AH burger</h3>
                  <p>Our signature Pipers burger, it is what it is! Start with our house-made patty, topped with leaf lettuce, tomato, onion, and pickles; customize with any of our add-ons. Served with your choice of side.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>Lynch Chipotle Burger </h3>
                  <p>Alderwood smoked bacon &amp; cheddar, smothered in Lynch Chipotle sauce. Absolutely divine taste for a burger. Served with your choice of side.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>Chili Salmon Burger</h3>
                  <p>Grilled salmon topped with avocado salsa, leaf lettuce, and chipotle mayo. Served with your choice of a side.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">13.95</span>
                  <h3>Mexi-Burger</h3>
                  <p>Pan-seared in our BBQ rub, topped with nacho cheese, jalapeños zesty line Pico de Gallo, and leaf lettuce. Served with your choice of side. A Pipers favourite!</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>Herb Crusted Burger</h3>
                  <p>Chicken breast pan seared in crusted Italian herbs and topped with bruschetta, Parmesan cheese, and leaf lettuce. Served with your choice of side.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">13.95</span>
                  <h3>Fish Burger</h3>
                  <p>Deep-fried cod cooked to crispy goodness on a toasted burger bun, drizzled with tartar sauce. Served with your choice of side.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
</section>

<!--Add-On-->
<section class="probootstrap-section probootstrap-bg-white">
  <div class="Add-On">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="menus">
                <div class="text">
                  <h3 class="Add-On">ADD ONS</h3>
                    <li>Applewood Smoked bacon, Sautéed Mushrooms, Crispy Onions 1.95 ea.</li>
                  <li>Cheddar. Prevalence, Swiss or feta Cheese, or Avocado 1.95 ea.</li>
                  <li>Add Burger Patty 4.95 ea.</li>
                </div>
            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="menus">
                <div class="text">
                  <h3 class="Add-On">BREAD CHOICES:</h3>
                  <li>Ancient Grain Ciabatta Baguette</li>
                  <li>Cracked Wheat Artisan Bread</li>
                  <li>French Artisan Bread</li>
                  <li>Multigrain Artisan Bread</li>
                  <li>Sourdough</li>
                  <li>Marble Rye</li>
                </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Appetizers -->
<section class="probootstrap-section probootstrap-bg-white menu-section">
      <div class="container">
        <div class="row">
          <h2 class="menu-category">APPETIZERS</h2>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">11.95</span>
                  <h3>Red Curry Calamari</h3>
                  <p>Tender Tandoori marinated squid and banned peppers fried to a golden crisp, topped with cherry tomatoes &amp; chives, served with our house-made Tzatziki.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">12.95</span>
                  <h3>Wings of Type Chicken</h3>
                  <p>It is much chicken wings, lol - we cook them! Your choice of one of several savour caused or out signature Piper’s BBQ rub.</p>
                  <p>Choose from:
                    -Hot sauce -Honey Garlic - Sweet Thai - Teriyaki - BBQ - Chipotle Cajun - Salt &amp; Pepper - Lemon Pepper - Piper’s BBQ Run.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">12.95</span>
                  <h3>Grilled Artichoke &amp; Cran Dip</h3>
                  <p>Rich &amp; creamy crab dip made in-house served with a tortilla chips.</p>
                </div>
              </li>
            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">13.95</span>
                  <h3>Lemon Pepper Fish Tacos</h3>
                  <p>Three flour tortillas with pan0friend lemon pepper cod and coleslaw, served with our house-made Pico de Gallo.
                  </p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">9.95</span>
                  <h3>Salt &amp; Pepper Dry Ribs</h3>
                  <p>Tender bone-in ribs tossed in a sea salt &amp; black pepper, served with your choice of sauce.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">13.99</span>
                  <h3>Pipers Bowl</h3>
                  <p>Sautéed mushrooms, red peppers, and green onions on a bed of shredded has browns with cheesy provolone eggs and your choice of Alderwood smoked bacon, black forest ham or sausages. Served with you choice of Bridor artisan breads.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<!-- Salad -->
<section class="probootstrap-section probootstrap-bg-white menu-section">
      <div class="container">
        <div class="row">
          <h2 class="menu-category">SALAD</h2>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">12.95</span>
                  <h3>House Salad</h3>
                  <p>With our fresh heritage blend of mixed greens, presented in a large bowl, tossed with Julienne carrots, dalkon, cherry tomatoes and sweet drop peppers. Served with our made-in-house Maple Balsamic dressing and a Ciabatta Garlic toast.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">13.95</span>
                  <h3>Caesar Salad</h3>
                  <p>Crispy Romaine lettuce served in a large bowl and tossed in Caesar dressing, Parmesan, crispy capers and our made-in-house croutons, come with Ciabatta garlic toast.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>Cobb Salad</h3>
                  <p>Our Heritage Blend served in a large bowl, layered with Clack Forest ham, cheese blend, chicken, cherry tomatoes, avocado, hard boiled eggs, and Alderwood smoked bacon with a side of Ranch or Blue Cheese dressing, comes with a Ciabatta Garlic toast.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">15.95</span>
                  <h3>Smoked Salmon Salad</h3>
                  <p>Served in a large bowl with our Heritage Blend of mixed greens, tossed in an Avocado Poblano Ranch topped with Goat cheese, Mandarin oranges, cherry tomatoes, crispy capers green onions, and Pacific smoked salmon, comes with Ciabatta Garlic toast.</p>
                </div>
              </li>
            </ul>
          </div>
          
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <div class="text">
                  <span class="price">14.95</span>
                  <h3>Mediterranean Chicken Salad</h3>
                  <p>Heritage Blend green tossed in our Maple Balsamic dressing, topped with Feta, sweet dropped peppers, red onions, mushrooms and finished with a Balsamic glaze, come with Ciabatta Garlic toast.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">13.99</span>
                  <h3>Pipers Bowl</h3>
                  <p>Sautéed mushrooms, red peppers, and green onions on a bed of shredded has browns with cheesy provolone eggs and your choice of Alderwood smoked bacon, black forest ham or sausages. Served with you choice of Bridor artisan breads.</p>
                </div>
              </li>
              
              <li>
                <div class="text">
                  <span class="price">$14.95</span>
                  <h3>Piper’s Kale</h3>
                  <p>We have a Kale Crunch mix served in a large bowl, tossed in our in -house Maple Balsamic dressing topped with seasonal fruit, roasted candied pecans, cherry tomatoes, avocado, applewood bacon, ad Feta cheese, comes with Ciabatta Garlic toast.</p>
                </div>
              </li>
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>